In [1]:
import pandas as pd
import glob
import logging
import os
import gc
import numpy as np

In [2]:
logging.basicConfig(level=logging.DEBUG,
                    format='%(asctime)s %(name)-12s %(levelname)-8s %(message)s',
                    datefmt="%Y-%m-%d %H:%M:%S")
logger = logging.getLogger(__name__)

# by genre

In [18]:
N = 1000
mode = "second_moment"
logger.info(mode)
try:
    os.mkdir(mode)
except:
    pass

df = pd.read_csv("big_table_by_{}_with_corpus_mean.tsv".format(mode), sep="\t").dropna()
COLUMNS = [c for c in df.columns if '(' in c]
len(COLUMNS)

2020-04-18 16:43:59 __main__     INFO     second_moment

1621

In [12]:
df.head()

,genre,rating,review,"('abaxial', 'adaxial')","('able', 'unable')","('abnormal', 'normal')","('aboral', 'oral')","('abridged', 'unabridged')","('absent', 'present')","('absolute', 'relative')",...,"('unwritten', 'written')","('useful', 'useless')","('valuable', 'worthless')","('vernal', 'wintry')","('virtuous', 'wicked')","('waning', 'waxing')","('weedless', 'weedy')","('weightless', 'weighty')","('winged', 'wingless')","('wired', 'wireless')"
0,Comedy,9,Imagine a movie where Joe Piscopo is actually ...,0.001591,0.009677,0.003300,0.002695,0.006457,0.002975,0.002992,...,0.012612,0.005585,0.008943,0.002514,0.011244,0.002398,0.002280,0.003019,0.001542,0.002124
1,Comedy,9,Maureen Stapleton is a scene stealer.,0.002600,0.025709,0.024226,0.076513,0.019221,0.026297,0.001577,...,0.043896,0.005668,0.007888,0.021660,0.006492,0.001270,0.004067,0.013257,0.021210,0.004048
2,Comedy,9,The Moroni character is an absolute scream.,0.001349,0.020703,0.016869,0.051779,0.013197,0.014152,0.056511,...,0.041556,0.018101,0.021254,0.009260,0.012821,0.001586,0.004707,0.006588,0.003724,0.003247
3,Comedy,9,Watch for Alan,0.001466,0.026506,0.005290,0.019537,0.007900,0.007419,0.001351,...,0.020795,0.011030,0.015309,0.005227,0.001902,0.001099,0.000929,0.011668,0.001993,0.000028
4,Comedy,9,The Skipper Hale jr.,0.004177,0.035576,0.005388,0.047293,0.006077,0.028875,0.000451,...,0.031162,0.004563,0.004494,0.011681,0.011232,0.001429,0.005174,0.008995,0.006997,0.001908

In [13]:
df['genre'].value_counts()

Drama          1900
Comedy         1419
Romance         631
Crime           540
Action          503
Adventure       452
Fantasy         375
Thriller        353
Horror          259
Biography       256
Family          230
Mystery         196
Animation       194
Sci-Fi          182
Documentary     180
Music           134
History         120
Musical          92
War              88
Short            72
Sport            66
Western          51
Film-Noir        41
Reality-TV        7
Game-Show         5
Adult             4
Name: genre, dtype: int64

In [15]:
corpus_mean = np.mean(df.drop(
    columns=[c for c in df.columns if '(' not in c]).values, axis=0)
corpus_mean

array([0.00161649, 0.0164216 , 0.00821991, ..., 0.00444221, 0.004455  ,
       0.00434662])

In [19]:
for genre, a_count in df['genre'].value_counts().iteritems():
    if a_count < 1000:
        continue

    logger.info("{}...".format(genre))
    with open("{}/bootstrap_{}_second_moment_with_corpus_mean_by_genre.tsv".format(mode, genre), "w") as fo:
        fo.write("{}\n".format("\t".join(COLUMNS)))
        A = df.drop(columns=[c for c in df.columns if '(' not in c]).values

        for i in range(N):
            if i % 100 == 0:
                logger.info(i)
            fmean = np.mean(A[np.random.choice(A.shape[0], a_count, replace=False), :], axis=0)
            fo.write("{}\n".format("\t".join([str(v) for v in (fmean)])))

2020-04-18 16:44:20 __main__     INFO     Drama...
2020-04-18 16:44:20 __main__     INFO     0
2020-04-18 16:44:24 __main__     INFO     100
2020-04-18 16:44:28 __main__     INFO     200
2020-04-18 16:44:31 __main__     INFO     300
2020-04-18 16:44:35 __main__     INFO     400
2020-04-18 16:44:39 __main__     INFO     500
2020-04-18 16:44:43 __main__     INFO     600
2020-04-18 16:44:47 __main__     INFO     700
2020-04-18 16:44:51 __main__     INFO     800
2020-04-18 16:44:55 __main__     INFO     900
2020-04-18 16:44:59 __main__     INFO     Comedy...
2020-04-18 16:44:59 __main__     INFO     0
2020-04-18 16:45:02 __main__     INFO     100
2020-04-18 16:45:05 __main__     INFO     200
2020-04-18 16:45:08 __main__     INFO     300
2020-04-18 16:45:11 __main__     INFO     400
2020-04-18 16:45:14 __main__     INFO     500
2020-04-18 16:45:17 __main__     INFO     600
2020-04-18 16:45:20 __main__     INFO     700
2020-04-18 16:45:23 __main__     INFO     800
2020-04-18 16:45:26 __main__     INFO     900